In [40]:
from pathlib import Path

import pandas as pd


df = pd.read_csv("/mnt/c/Users/ssch7/repos/prop-recommender/data/00_raw/nationalmaps/Census_2021_G17_Total_personal_income_weekly_by_age_by_sex_Main_Statistical_Areas_Level_2_and_up_SA2_.txt")

In [41]:
display(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2472 entries, 0 to 2471
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     2472 non-null   object
 1   SEXP         2472 non-null   int64
 2   INCP         2472 non-null   object
 3   AGEP         2472 non-null   object
 4   REGION       2472 non-null   int64
 5   REGION_TYPE  2472 non-null   object
 6   STATE        2472 non-null   int64
 7   TIME_PERIOD  2472 non-null   int64
 8   OBS_VALUE    2472 non-null   int64
dtypes: int64(5), object(4)
memory usage: 173.9+ KB

None

         SEXP        REGION        STATE  TIME_PERIOD     OBS_VALUE
count  2472.0  2.472000e+03  2472.000000       2472.0   2472.000000
mean      3.0  3.177555e+08     3.079693       2021.0   8408.091019
std       0.0  1.977886e+08     2.009015          0.0   5025.228688
min       3.0  1.010210e+08     1.000000       2021.0      0.000000
25%       3.0  1.270315e+08     1.000000       2021.0   4466.000000
50%       3.0  3.030411e+08     3.000000       2021.0   7894.000000
75%       3.0  4.060111e+08     4.000000       2021.0  12020.500000
max       3.0  9.999995e+08     9.000000       2021.0  22747.000000

In [12]:
df[['SEXP','TIME_PERIOD','INCP','AGEP','REGION_TYPE','STATE']].value_counts()

SEXP  TIME_PERIOD  INCP  AGEP  REGION_TYPE  STATE
3     2021         _T    _T    SA2          1        644
                                            3        548
                                            2        524
                                            5        267
                                            4        176
                                            8        136
                                            6        101
                                            7         70
                                            9          6
Name: count, dtype: int64

In [49]:
df.head()

,DATAFLOW,SEXP,INCP,AGEP,REGION,REGION_TYPE,STATE,TIME_PERIOD,OBS_VALUE
0,ABS:C21_G17_SA2(1.0.0),3,_T,_T,506031125,SA2,5,2021,8344
1,ABS:C21_G17_SA2(1.0.0),3,_T,_T,601061035,SA2,6,2021,8238
2,ABS:C21_G17_SA2(1.0.0),3,_T,_T,103021066,SA2,1,2021,3037
3,ABS:C21_G17_SA2(1.0.0),3,_T,_T,201011005,SA2,2,2021,5759
4,ABS:C21_G17_SA2(1.0.0),3,_T,_T,108031161,SA2,1,2021,379

### Shapefile

In [48]:
import geopandas as gpd

shapefile = gpd.read_file("/mnt/c/Users/ssch7/repos/prop-recommender/data/00_raw/nationalmaps/metadata/SA2_2021_AUST_GDA2020.shp")
shapefile.head()

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,SA3_CODE21,SA3_NAME21,SA4_CODE21,SA4_NAME21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,101021007,Braidwood,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,3418.3525,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."
1,101021008,Karabar,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,6.9825,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21899 -35.36738, 149.21800 -35.3..."
2,101021009,Queanbeyan,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,4.7620,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21326 -35.34325, 149.21619 -35.3..."
3,101021010,Queanbeyan - East,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.0032,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.24034 -35.34781, 149.24024 -35.3..."
4,101021012,Queanbeyan West - Jerrabomberra,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.6748,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.19572 -35.36126, 149.19970 -35.3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,901031003,Jervis Bay,0,No change,90103,Jervis Bay,901,Other Territories,9OTER,Other Territories,9,Other Territories,AUS,Australia,67.2296,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((150.69567 -35.18295, 150.69556..."
2469,901041004,Norfolk Island,0,No change,90104,Norfolk Island,901,Other Territories,9OTER,Other Territories,9,Other Territories,AUS,Australia,38.6510,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((167.96325 -29.07212, 167.96326..."
2470,997979799,Migratory - Offshore - Shipping (OT),0,No change,99797,Migratory - Offshore - Shipping (OT),997,Migratory - Offshore - Shipping (OT),99799,Migratory - Offshore - Shipping (OT),9,Other Territories,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None
2471,999999499,No usual address (OT),0,No change,99999,No usual address (OT),999,No usual address (OT),99499,No usual address (OT),9,Other Territories,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None
2472,ZZZZZZZZZ,Outside Australia,1,New,ZZZZZ,Outside Australia,ZZZ,Outside Australia,ZZZZZ,Outside Australia,Z,Outside Australia,ZZZ,Outside Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None

## GPS coordinates need projecting to and from CEA, to account for shape of the earth (check this)

In [34]:
# shapefile.loc[shapefile.SA2_NAME21=='Jervis Bay', :].geometry.centroid
df1 = shapefile.loc[shapefile.SA2_NAME21=='Jervis Bay', ['geometry']]
df1.to_crs('+proj=cea').geometry.centroid.to_crs(df1.crs)

2468    POINT (150.69121 -35.15235)
dtype: geometry

In [44]:
display(shapefile.head(1))
shapefile.columns

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,SA3_CODE21,SA3_NAME21,SA4_CODE21,SA4_NAME21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,101021007,Braidwood,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,3418.3525,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."

Index(['SA2_CODE21', 'SA2_NAME21', 'CHG_FLAG21', 'CHG_LBL21', 'SA3_CODE21',
       'SA3_NAME21', 'SA4_CODE21', 'SA4_NAME21', 'GCC_CODE21', 'GCC_NAME21',
       'STE_CODE21', 'STE_NAME21', 'AUS_CODE21', 'AUS_NAME21', 'AREASQKM21',
       'LOCI_URI21', 'geometry'],
      dtype='object')

In [47]:
int(shapefile.SA2_CODE21[0]) in list(df.REGION)

True

In [ ]:
shapefile.SA2_CODE21
df.REGION.apply(lambda x: OBS_VALUE)